# envs
.env

# master.key
/config/master.key

# Ignore related Docker
docker-sync.yml
docker-compose.yml
Dockerfile
docker/.docker_password.txt
docker/.envs
docker/scripts
docker/nginx
docker/docker-compose
docker/Dockerfile
.docker-sync/
.direnv/
.envrc

# Ignore all logfiles and tempfiles.
/log
/tmp

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# node_modules
node_modules/
yarn.lock

# Ignore private IDE setting files.
.idea
.idea/*
.generators
