# envs
.env

# credential keys
/config/master.key
/config/credentials/development.key
/config/credentials/test.key
/config/credentials/staging.key
/config/credentials/didimdol.key

# Ignore related Docker
docker/.docker_password.txt
docker/.envs
.docker-sync/
.direnv/

# Ignore all logfiles and tempfiles.
/log
/tmp/*
!/tmp/.keep
.rakeTasks

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# node_modules
node_modules/
yarn.lock

# Ignore private IDE setting files.
.idea
.idea/*
.generators
