docker-sync start

function export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias image_init "docker build -t platform-api . --no-cache \
                        && docker run --rm -v $(pwd):/app platform-api bash -c 'bundle install' \$@"

export_alias db_init  "docker run --rm -v $(pwd):/app  --env-file ./.env platform-api bash -c 'rails db:create' \
                      && docker run --rm -v $(pwd):/app --env-file ./.env platform-api bash -c 'rails db:migrate' \$@"

export_alias yarn_install "docker run --rm -v $(pwd):/app platform-api bash -c \
                          'yarn install' \$@"

export_alias dev_start "rm -rf tmp/pids/server.pid && docker-compose up \$@"

export_alias dev_stop "docker-compose stop \$@"

export_alias dev_down "docker-compose down \$@"

export_alias docker_shell "docker exec -it platform-api-web /bin/bash \$@"

export_alias asset_compile "docker commit platform-api-web platform-api-temp \
                            && docker run --rm -v platform-api_codes:/app platform-api-temp \
                                bash -c 'rails assets:precompile RAILS_ENV=production' \$@"

export_alias prod_image_build  "asset_compile && docker build -t gomicorp/platform-api ./docker ./ \$@"
