function export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias image_init "docker build -t my_project_image . --no-cache \
                        && docker run --rm -v $(pwd):/app my_project_image bash -c 'bundle install' \$@"

export_alias db_init  "docker run --rm -v $(pwd):/app  --env-file ./.env my_project_image bash -c 'rails db:create' \
                      && docker run --rm -v $(pwd):/app --env-file ./.env my_project_image bash -c 'rails db:migrate' \$@"

export_alias yarn_install "docker run --rm -v $(pwd):/app my_project_image bash -c \
                          'yarn install' \$@"

export_alias asset_compile "docker run --rm -v $(pwd):/app my_project_image bash -c 'rails assets:precompile RAILS_ENV=production' \$@"

export_alias dev_start "docker-compose up \$@"

export_alias dev_stop "docker-compose stop \$@"

export_alias dev_down "docker-compose down \$@"

export_alias docker_shell "docker exec -it my_project_image_web_1 /bin/bash \$@"
