ssh_host_name=store-api-prod

docker-sync start

function export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias db_init  "docker run --rm -v platform-api_codes:/app  --env-file ./.env platform-api bash -c 'rails db:create' \
                      && docker run --rm -v platform-api_codes:/app --env-file ./.env platform-api bash -c 'rails db:migrate' \$@"

export_alias image_init "docker build --pull -t platform-api . --no-cache \
                        && rm -rf Gemfile.lock \
                        && docker run --rm -v platform-api_codes:/app platform-api bash -c 'bundle install' \$@"

export_alias yarn_install "docker run --rm -v platform-api_codes:/app platform-api bash -c \
                          'yarn install' \$@"

export_alias dev_start "rm -rf tmp/pids/server.pid && docker-compose up \$@"

export_alias dev_stop "docker-compose stop \$@"

export_alias dev_down "docker-compose down \$@"

export_alias docker_shell  "docker start platform-api-web \
                           && docker exec -it platform-api-web /bin/bash \$@"

export_alias rails_c "docker start platform-api-web \
                      && docker exec -it platform-api-web bash -c 'rails c' \$@"

export_alias rails_c_sandbox "docker start platform-api-web \
                             && docker exec -it platform-api-web bash -c 'rails console --sandbox' \$@"

export_alias asset_compile "docker start platform-api-web \
                            && docker exec -it platform-api-web bash -c 'RAILS_ENV=production rails assets:precompile' \
                            && docker-sync sync && yarn_install \$@"

export_alias prod_image_build  "asset_compile && docker build --pull -t gomicorp/platform-api -f ./docker/Dockerfile ./ \$@"

export_alias staging_deploy  "docker push gomicorp/platform-api \
                             && cd docker/scripts \
                             && bash deploy.sh ${ssh_host_name} platform-api staging
                            \$@"

export_alias production_production_deploy "docker push gomicorp/platform-api \
                                          && cd docker/scripts \
                                          && bash deploy.sh ${ssh_host_name} platform-api production
                                          \$@"
